extends layout

block css
  link(rel='stylesheet', href='/static/stylesheets/style.css')

block content
  .container
    h1 Express-typescript-starter
    p Hi!
    p This is a simple app with Express.js and TypeScript.
    br
    h2 Features
    ul
      li configuration file as yaml
      li OR mapper with sequelize
      li handling error response (ex. 
        |
        a(href='/404', style='text-decoration:underline') 404
        |  and 
        a(href='/500', style='text-decoration:underline') 500
        |  )
        
      li static file configuration
    br
    br
    p Now it is time to develop great app.
